/.idea/workspace.xml
/.idea/
/bin/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

#######/COMP*/
/target/**


./is-debugging.flag
/elijah-elaveted-potential/elevated-potential-2/is-debugging.flag
/.lein-failures
/.clj-kondo/.cache/v1/
/.clj-kondo/imports/
/.lsp/.cache/db.transit.json
/.lein-repl-history
/.nrepl-port
/.calva/repl.calva-repl
elaveted-lein.iml
.idea/modules.xml
